   <div class="header">
      <ul class="main-menu">
         <li>
            <p>Wolt Control Panel</p>
         </li>
         <li><a href="/"><p><small>Home</small></p></a></li>   
         <li><a href="/status"><p><small>Status</small></p></a></li>
         <li class="settings icon"><a href="#" class="fas fa-cog"></a></li>
         <li class="settings icon"><i class="toggler fas fa-toggle-on toggle-switch"></i></a></li>
         
   </div>
