<% include partials/header %>

<% include partials/menu %>

   <div class="status-location"></div>

   <div class="content">
      <table>
         <tr>
            <td>
               <h3>Projector</h3>
               <button id="prjPower" class="btn btn-lg btn-primary"><i class="fas fa-power-off"></i></button>
               <button id="prjPicture" class="btn btn-lg btn-primary"><i class="fas fa-image"></i></button><br>
            </td>
            <td>
               <h3>Screen</h3>
               <button id="scrnUp" class="btn btn-lg btn-primary"><i class="fas fa-chevron-up"></i></i></button><br>
               <button id="scrnStop" class="btn btn-lg btn-primary"><i class="fas fa-stop"></i></button><br>
               <button id="scrnDown" class="btn btn-lg btn-primary"><i class="fas fa-chevron-down"></i></button><br>
            </td>
         </tr>
         <tr>
            <td colspan=1.5>
               <h3>Video Recording</h3>
               <button id="recordStart" class="btn btn-lg btn-primary"><i class="fas fa-circle"></i></button>
               <button id="recordStop" class="btn btn-lg btn-primary"><i class="fas fa-square"></i></button><br>
            </td>
            <td colspan=1.5 class="toggle">
               <h3>Video Streaming</h3>
               <button id="streamStart" class="toggle btn btn-lg btn-primary"><i class="fas fa-play"></i></button>
               <button id="streamStop" class="toggle btn btn-lg btn-primary"><i class="fas fa-square"></i></button><br>
            </td>
         </tr>
         <tr>
            <td colspan=3>
               <h3>AirFader</h3>
               <button id="airfaderStart" class="btn btn-lg btn-primary"><i class="fas fa-play"></i></button>
               <button id="airfaderStop" class="btn btn-lg btn-primary"><i class="fas fa-square"></i></button><br>
            </td>
         </tr>
      </table>
   </div>

<% include partials/footer %>