<% include partials/header %>

<% include partials/menu %>

<table>
<tr>
<h1>Projector</h1><br>
</tr>
<tr><h1>Screen</h1><br></tr>
<tr><h1>Video Recording</h1><br></tr>
<tr><h1>Video Stream</h1><br></tr>
<tr><h1>Airfader</h1><br></tr>
</table>



<% include partials/footer %>